---
layout: default
---

<div class="container">
  {% unless page.big_header %}
  <div class="text-center">
    <h1>{{ page.title }}</h1>
  </div>
  <hr/>
  {% endunless %}

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      {% if page.image %}
      <div class="row">
        <div class="col-sm-5">
          {% if page.link %}
          <a href="{{ page.link }}">
            <img width=100% src="{{ page.image }}">
          </a>
          {% else %}
          <img width=100% src="{{ page.image }}">
          {% endif %}
          <div class="spacer"></div>
        </div>
        <div class="col-sm-7">
          <h3><i>{{ page.date | date: "%A, %-m/%-d/%Y" }}, {{ page.time }}</i></h3>
          <h3><i>{{ page.location }}</i></h3>
          {% if page.rsvp %}
          <h4>Click <a href="{{ page.rsvp }}">here</a> to RSVP</h4>
          {% endif %}
          <h4>{{ page.description }}</h4>

        </div>
      </div>
      {% endif %}
      <div class="bigspacer"></div>
      <div class="post">
        {{ content }}
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="bigspacer"></div>
  <div class="spacer"></div>

</div>
