---
layout: default
---

{% assign member = page %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="media">
        {% if member.image %}
        <img class="pull-left pad-right media-object" width=170 src="{{ member.image }}">
        {% else %}
        <img class="pull-left pad-right media-object" width=170 src="/images/members/default.png">
        {% endif %}
        <div class="media-body">
          <h1>{{ member.title }}{% if member.suffix %}, {{ member.suffix }}{% endif %}</h1>
          <div class="bigspacer"></div>
          <h3><i>{{ member.position }}</i></h3>
          <div class="bigspacer"></div>
          <h3>{{ member.research }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="bigspacer"></div>

  <div class="row">
    <div class="col-md-3">
      {% include member_links.html member_loc=member %}
    </div>
    <div class="col-md-9">
      <div class="post">
        {{ content }}
      </div>

      {% for post in site.categories.blog %}
        {% if post.author == member.title %}
          {% assign has_posts = true %}
          {% break %}
        {% endif %}
        {% if has_posts %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if has_posts == true %}

      <div class="bigspacer"></div>
      <h3>Blog Posts</h3>
      <div class="spacer"></div>

        {% for post in site.categories.blog %}
          {% if post.author == member.title %}
      <p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}

    </div>
    <div class="col-md-1"></div>
  </div>
</div>
